@font-face {
    font-family: 'Centra'; 
    src: url('./centra-no-2.woff2') format('woff2');
    font-weight: normal; 
    font-style: normal;
  }

  @font-face {
    font-family: 'Sarina'; /* Nom personnalisé pour la police */
    src: url('./Sarina-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  .sarina {
    font-family: "Sarina", serif;
    font-weight: 400;
    font-style: normal;
  }

  .lato-light {
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  
  